
@{
    ViewBag.Title = "TipoPago";
    Layout = null;
}
<link href="~/Scripts/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<a class="btn btn-secondary m-btn m-btn--air m-btn--custom" onclick="tableToExcel('tblResultados', 'Exportar')" value="Exportar to Excel">Exportar a excel</a>
<table class="table table-striped m-table" id="tblResultados">
    <thead>
        <tr style="height: 54px;">
            <th style="width:10%"> Tipo </th>
            <th style="width:10%"> Colonia </th>
            <th style="width:8%"> Clave </th>
            <th style="width:8%"> Fecha </th>
            <th style="width:6%"> Pago </th>
            <th style="width:13%"> Organización </th>
            <th style="width:15%"> Paciente </th>
            <th style="width:5%"> Edad </th>
            <th style="width:5%"> Genero </th>
            <th style="width:8%"> Total </th>
            <th style="width:8%"> A cuenta </th>
            <th style="width:8%"> Por cubrir </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < @ViewBag.Resultados.Count; i++)
        {
        <tr>
            <td style="width:10%">@(ViewBag.Resultados[i].ObservacionUrgencia)</td>
            <td style="width:10%">@(ViewBag.Resultados[i].Paciente.Colonia != null ? ViewBag.Resultados[i].Paciente.Colonia.Nombre: "")</td>
            <td style="width:8%">@(ViewBag.Resultados[i].ClaveSolicitud)</td>
            <td style="width:8%">@(ViewBag.Resultados[i].Fecha)</td>
            <td style="width:6%">@(ViewBag.Resultados[i].Observaciones)</td>
            <td style="width:13%">@(ViewBag.Resultados[i].Empresa.Nombre)</td>
            <td style="width:15%">@(ViewBag.Resultados[i].Paciente.NombreCompleto)</td>
            <td style="width:5%">@(ViewBag.Resultados[i].Paciente.Edad)</td>
            <td style="width:5%">@(ViewBag.Resultados[i].Paciente.Genero)</td>
            <td style="width:8%">@(ViewBag.Resultados[i].Total)</td>
            <td style="width:8%">@(ViewBag.Resultados[i].Acuenta)</td>
            <td style="width:8%">@(ViewBag.Resultados[i].PorCubrir)</td>
        </tr>
        }
    </tbody>
</table>


<script type="text/javascript">
    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
            , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()
    //$(document).ready(function () {
    //    $('#tblUsuarios').DataTable();
    //    $('#tblUsuarios').removeClass('dataTable');
    //});
</script>
